<div class="sidebar-container">
    <div class="form-group">
        <label>Risk</label>
        <select class="form-control" [(ngModel)]="risk" (ngModelChange)="onRiskChange()">
            <option value="risk_class">Risk Class</option>
            <option value="risk_type">Risk Type</option>
            <option value="risk_group">Risk Group</option>
            <option value="threat">Threat</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" [(ngModel)]="subRisk" (ngModelChange)="onSubRiskChange()">
            <option *ngFor="let option of subRisks; let i = index" value="{{option.key}}">{{option.value}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Metric</label>
        <select class="form-control" [(ngModel)]="metric" (ngModelChange)="onMetricChange()">
            <option value="fatalities">Fatalities</option>
            <option value="economic_loss">Economic Loss</option>
            <option value="affected_people">Affected People</option>
        </select>
    </div>
    <div class="form-group">
        <label>Magnitude</label>
        <select class="form-control" [(ngModel)]="magnitude" (ngModelChange)="omMagnitudeChange()">
            <option value="">None</option>
            <option *ngFor="let option of magnitudeList; let i = index" value="{{option.key}}">{{option.value}}</option>
        </select>
    </div>
</div>