<div class="sidebar-container">
    <ul class="nav navbar-nav nav-right">
        <li class="text-center">
            <img src="assets/images/logo.png" height="200px" width="200px" class="img-fluid" alt="apnaDoctor" />
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/about']">
                <span class="nav-item-icon fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                </span>
                <span class="nav-item-text">About</span>
            </a>
        </li>
    </ul>
</div>