.minimized-sidebar-container {
    width: 75px !important;
    .nav-item-text {
        display: none;
    }
    a {
        padding: 12px 0 12px 20px !important;
        &:hover,
        &.active {
            padding-left: 10px !important;
        }
        .nav-item-icon {
            display: inline-block !important;
        }
    }
}

label {
    font-weight: bold;
}

.sidebar-container {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    z-index: 1000;
    height: calc(100vh - 55px);
    overflow-y: auto;
    width: 200px;
    border-right: 1px solid #e0e0e0;
    background-color: #ffffff;
    padding: 10px;
}

.show-sidebar {
    width: 200px;
}

// @media only screen and (max-width: 992px) {
//     .sidebar-container {
//         width: 0px;
//     }
//     .minimized-sidebar-container {
//         width: 75px !important;
//         .nav-item-text {
//             display: none;
//         }
//         a {
//             padding: 12px 0 12px 20px !important;
//             &:hover,
//             &.active {
//                 padding-left: 10px !important;
//             }
//             .nav-item-icon {
//                 display: inline-block !important;
//             }
//         }
//     }
// }