<div class="about-page main-full-height d-flex align-items-center justify-content-center">
    <div class="card p-5 text-center">
        <img src="assets/images/logo.png" height="200" width="200" class="img-fluid" alt="apnaDoctor" /><br>
        <p>a service by</p>
        <p>SILICOSENSE TECHNOLOGIES PVT. LTD.</p>
        <p>For queries email at </p>
        <a href="mailto:contactus@silicosense.com" target="_blank">contactus@silicosense.com</a>
        <p>
            <i>&copy;</i> 2017, SilicoSense Technologies Pvt. Ltd.
        </p>
    </div>
</div>